!!!
%html
  %head
    %title CRUDHAML
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #top-content
      .container
        %header
          %a{:href=>"/"}
            #logo
          #menu
            %nav
              %ul
                %li
                  %a{:href=>"/"}
                    Home
                %li 
                  %a{:href=>"/galery"} 
                    Galery
                %li
                  %a{:href=>"/articles"} 
                    Articles
                %li
                  %a{:href=>"/articles"} 
                    Blog 
                %li
                  %a{:href=>"/articles"} 
                    About 
                - if user_signed_in?
                  %li= link_to 'Sign out', destroy_user_session_path,  method: "delete"
                - else
                  %li= link_to "Sign in", new_user_session_path
            #social-menu
              %a{:href=>"http://www.twitter.com/"}
                #twitter.social-icon
              %a{:href=>"#"}
                #rss.social-icon
        - flash.each do |key, value|
          = content_tag :div, value, :class => "flash alert alert-#{key}" unless value.blank?
        #slider
          %figure
            %img{:src=>"/assets/slide-placeholder.png"}
          .row-fluid
            %ul.thumbnails
              %li.span3
                %a
                  %img{:src=>"/assets/avatar-small.png"}
    #text-area
      .container
        =yield
    %footer
      .container
        #foot-content
          #foot-logo
          %section#text-footer
            %p Bootstrap Sleek, intuitive, and powerful front-end framework for faster and easier web development.
            %aside#footer-social
              %ul
                %a{:href=>"#"}
                  %li follow us
                %a{:href=>"#"}
                  %li follow us
                %a{:href=>"#"}
                  %li follow us
        #copyright
          %a{:href=>"http://www.tangosource.com"} Tango Source
